@import './mixins.scss';

.landing-page {
    padding-bottom: 126px;
    margin: -30px -50px 0 0;
    max-height: 100%;
}

.landing-page__banner {
    padding-top: 32px;
    padding-bottom: 96px;
}

.landing-page__illo {
    width: 100px;
    height: 100px;
}
.landing-page__center {
    display: inline-block;
    text-align: center;
}


